<div class="container">
    <a class="volver-link">< Volver</a>
    <h1 class="titulo">Datos del remitente</h1>
    <div class="row mb-2">
        <div class="col-md-4">
            <div class="d-flex mb-2">
                <p class="mr-2 nombre-label-consultar">Nombre usuario: </p>
                <strong class="nombre-label-consultar">PRUEBA</strong>
            </div>
        </div>

        <div class="col-md-4">
            <div class="d-flex mb-2">
                <p class="mr-2 nombre-label-consultar">Fecha del comentario: </p>
                <strong class="nombre-label-consultar">PRUEBA</strong>
            </div>
        </div>

        <div class="col-md-4">
            <div class="d-flex mb-2">
                <p class="mr-2 nombre-label-consultar">Calificación: </p>
                <!-- <ng-container *ngFor="let star of [].constructor(5); let starIndex = index">
                    <i class="fa" [class.fa-star]="starIndex < card.rating" [class.fa-star-o]="starIndex >= card.rating"></i>
                </ng-container> -->
            </div>
        </div>
        <div class="form-group">
            <label for="mensajeInicial" class="nombre-label-consultar">Mensaje:</label>
            <textarea id="mensajeInicial" name="mensajeInicial"
                class="textarea-modificado" disabled ></textarea>
        </div>
    </div>
    <h1 class="titulo">Respuesta</h1>
    <div class="form-group">
        <label for="mensajeRespuesta" class="nombre-label-consultar">Mensaje:</label>
        <textarea id="mensajeRespuesta" name="mensajeRespuesta" formControlName="mensajeRespuesta"
            class="textarea-modificado"></textarea>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <button type="button" class="btn btn-primary btn-wide">Responder</button>
        </div>
    </div>
</div>