.titulo {
    font-family: 'Architects Daughter', cursive;
    font-size: 35px;
    font-weight: bold;
    margin: 20px 0;
    text-decoration: underline;
    text-align: center;
}

.fa-star,
.fa-star-o {
  color: #ffd700;
}