<div class="container">
    <a href="consultar-comentario-negocio.html">< Volver</a>
    <h2 class="title">Datos generales</h2>
    <form>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre">

        <label for="categoria">Categoría:</label>
        <select id="categoria" name="categoria">
            <option value="panaderia">Panadería</option>
            <option value="bar">Bar</option>
            <option value="cafeteria">Cafetería</option>
            <option value="restaurante">Restaurante</option>
            <option value="discoteca">Discoteca</option>
            <option value="otro">Otro</option>
            <option value="supermercado">Supermercado</option>
            <option value="tienda">Tienda</option>
        </select>

        <label for="telefono">Teléfonos:</label>
        <input type="text" id="telefono" name="telefono">

        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion"></textarea>

        <button type="button" id="seleccionar-ubicacion">Seleccionar ubicación</button>
    </form>

    <h2 class="title">Horarios</h2>
    <table>
        <thead>
            <tr>
                <th>Día</th>
                <th>Hora de inicio</th>
                <th>Hora fin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="dia"></td>
                <td><input type="time" name="hora-inicio"></td>
                <td><input type="time" name="hora-fin"></td>
                <td><button class="delete-row">🗑️</button></td>
            </tr>

        </tbody>
    </table>
    <div class="table-controls">
        <button class="nav-btn" id="prev">＜</button>
        <span id="table-index">1/3</span>
        <button class="nav-btn" id="next">＞</button>
    </div>
    <button type="button" id="add-row">Añadir</button>

    <h2 class="title">Imágenes</h2>
    <div class="carousel">
        <button class="carousel-btn" id="prev-img">＜</button>
        <div class="carousel-images">
            <div class="image-container">
                <img src="" alt="Imagen 1">
                <button class="delete-img">Eliminar</button>
            </div>
        </div>
        <button class="carousel-btn" id="next-img">＞</button>
    </div>
    <button type="button" id="add-image">Añadir imagen</button>
</div>