.titulo {
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

.input-modificado {
    width: 80%;
    border: 2px solid black;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 8px;
}

.label-modificado {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    font-weight: bold;
    display: block;
    width: 100%;
}