<div class="container">
    <h1 class="titulo">Mis Reservas</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>N° Único</th>
                <th>Fecha de Reserva</th>
                <th>Hora de Reserva</th>
                <th>Cantidad de Personas</th>
                <th>Estado</th>
                <th>Nombre de lugar</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reserva of arrayReservas">
              <td>{{ reserva.id }}</td>
              <td>{{ reserva.fechaReserva }}</td>
              <td>{{ reserva.horaReserva }}</td>
              <td>{{ reserva.numeroPersonas }}</td>
              <td>{{ reserva.estadoReserva }}</td>
              <td>Hola</td>
              <td>PRUEBA</td>
            </tr>
          </tbody>
    </table>
</div>