<div class="container">
    <h1 class="titulo">Mis Reservas</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="nombre-label-consultar">N° Único</th>
                <th class="nombre-label-consultar">Fecha de Reserva</th>
                <th class="nombre-label-consultar">Hora de Reserva</th>
                <th class="nombre-label-consultar">Cantidad de Personas</th>
                <th class="nombre-label-consultar">Estado</th>
                <th class="nombre-label-consultar">Nombre de lugar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reserva of arrayReservas">
                <td class="nombre-label-consultar">{{ reserva.id }}</td>
                <td class="nombre-label-consultar">{{ reserva.fechaReserva }}</td>
                <td class="nombre-label-consultar">{{ reserva.horaReserva }}</td>
                <td class="nombre-label-consultar">{{ reserva.numeroPersonas }}</td>
                <td class="nombre-label-consultar">{{ reserva.estadoReserva }}</td>
                <td class="nombre-label-consultar">{{ reserva.idLugar }}</td>
            </tr>
        </tbody>
    </table>
    <app-modal-informacion [title]="modalTitle" [content]="modalContent"></app-modal-informacion>
</div>