<div class="container">
  <a (click)="irAGestionarLugares()" class="volver-link">
    < Volver</a>
      <h1 class="titulo">Datos generales</h1>
      <div class="row mb-2">
        <div class="col-md-4">
          <div class="d-flex mb-2">
            <p class="mr-2 nombre-label-consultar">Nombre: </p>
            <strong class="nombre-label-consultar">PRUEBA</strong>
          </div>
          <div class="d-flex mb-2">
            <p class="mr-2 nombre-label-consultar">Ubicación: </p>
            <strong class="nombre-label-consultar">PRUEBA</strong>
          </div>
          <div class="d-flex mb-2">
            <p class="mr-2 nombre-label-consultar">Teléfonos: </p>
            <strong class="nombre-label-consultar">PRUEBA</strong>
          </div>
        </div>

        <div class="col-md-4">
          <div class="d-flex mb-2">
            <p class="mr-2 nombre-label-consultar">Categoría: </p>
            <strong class="nombre-label-consultar">PRUEBA</strong>
          </div>
          <div class="d-flex mb-2">
            <p class="mr-2 nombre-label-consultar">Usuario creación: </p>
            <strong class="nombre-label-consultar">PRUEBA</strong>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex mb-2">
            <p class="mr-2 nombre-label-consultar">Estado: </p>
            <strong class="nombre-label-consultar">PRUEBA</strong>
          </div>
          <div class="d-flex mb-2">
            <p class="mr-2 nombre-label-consultar">Fecha creación: </p>
            <strong class="nombre-label-consultar">PRUEBA</strong>
          </div>
        </div>
        <div class="form-group">
          <label for="descripcion" class="nombre-label-consultar">Descripción:</label>
          <textarea id="descripcion" name="descripcion" formControlName="descripcion"
            class="textarea-modificado"></textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 text-center">
          <button type="button" class="btn btn-red-pastel btn-wide" (click)="consultarImagenesLugar()">Consultar imagenes</button>
          <button type="button" class="btn btn-blue-pastel btn-wide" (click)="verUbicacionMapa()">Ver ubicación en mapa</button>
          <button type="button" class="btn btn-gray-pastel btn-wide" (click)="crearReserva()">Crear reserva</button>
        </div>
      </div>
      <h1 class="titulo">Horarios</h1>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th class="nombre-label-consultar">Día</th>
            <th class="nombre-label-consultar">Hora Inicio</th>
            <th class="nombre-label-consultar">Hora Fin</th>
          </tr>
        </thead>
      </table>
      <h1 class="titulo">Revisiones</h1>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th class="nombre-label-consultar">Moderador</th>
            <th class="nombre-label-consultar">Estado</th>
            <th class="nombre-label-consultar">Fecha</th>
            <th class="nombre-label-consultar">Descripción</th>
          </tr>
        </thead>
      </table>
      <h1 class="titulo">Eventos</h1>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th class="nombre-label-consultar">Moderador</th>
            <th class="nombre-label-consultar">Estado</th>
            <th class="nombre-label-consultar">Fecha</th>
            <th class="nombre-label-consultar">Descripción</th>
          </tr>
        </thead>
      </table>
      <div class="row justify-content-center">
        <div class="col-6 text-center">
          <button type="button" class="btn btn-outline-primary me-4 btn-wide">Consultar comentarios</button>
          <button type="button" class="btn btn-primary btn-wide">Comentar</button>
        </div>
      </div>
</div>