<div class="container">
    <h1 class="titulo">Iniciar Sesión</h1>
    <form [formGroup]="form">
        <div class="row justify-content-center">
            <div class="col-6">
                <label for="correo" class="label-modificado">
                    Correo:
                    <span class="text-danger"><strong>*</strong></span>
                </label>
                <input placeholder="" name="correo" type="email" id="correo" class="form-control input-modificado"
                    maxlength="50" formControlName="correo">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <label for="contrasena" class="label-modificado">
                    Contraseña:
                    <span class="text-danger"><strong>*</strong></span>
                </label>
                <input placeholder="" name="contrasena" type="password" id="contrasena"
                    class="form-control input-modificado" maxlength="50" formControlName="contrasena">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <button type="button" class="boton-estilo" (click)="iniciarSesion()">Login</button>
                <div class="enlace-contenedor">
                    <a href="/recuperar-contrasena" class="enlace-recuperacion">¿Olvidaste tu contraseña?</a>
                    <a href="/registro" class="enlace-recuperacion">¿No tienes alguna cuenta?, Regístrate</a>
                </div>
            </div>
        </div>
    </form>
    <app-modal-informacion [title]="modalTitle" [content]="modalContent"></app-modal-informacion>
</div>