<div class="container">
    <a class="volver-link">X Cancelar</a>
    <h1 class="titulo">Datos generales</h1>
    <form [formGroup]="form">
        <div class="form-group horizontal-group">
            <div class="field">
                <label for="nombre" class="label-modificado">Nombre:</label>
                <input type="text" id="nombre" name="nombre" formControlName="nombre" class="input-modificado">
            </div>
            <div class="field">
                <label for="categoria" class="label-modificado">Categoría:</label>
                <select id="categoria" class="input-modificado" placeholder="Seleccione una categoria"
                    formControlName="categoria">
                    <option value="" disabled selected>Seleccione una ciudad</option>
                    <option *ngFor="let categoria of categorias" [value]="categoria.value">{{ categoria.key }}</option>
                </select>
            </div>
            <div class="field">
                <label for="telefonos" class="label-modificado">Teléfonos:</label>
                <input type="text" id="telefonos" name="telefonos" formControlName="telefonos"
                    class="input-modificado">
            </div>
        </div>
        <div class="form-group">
            <label for="descripcion" class="nombre-label-consultar">Descripción:</label>
            <textarea id="descripcion" name="descripcion" formControlName="descripcion"
                class="textarea-modificado"></textarea>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <button type="button" class="btn btn-red-pastel btn-wide">Selecciona ubicación</button>
            </div>
        </div>
        <h1 class="titulo">Horarios</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="nombre-label-consultar">Día</th>
                    <th class="nombre-label-consultar">Hora Inicio</th>
                    <th class="nombre-label-consultar">Hora Fin</th>
                    <th class="nombre-label-consultar">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of horarios; let i = index">
                    <td class="nombre-label-consultar"><input type="text" [(ngModel)]="row.dia"
                        [ngModelOptions]="{standalone: true}" class="form-control" /></td>
                    <td class="nombre-label-consultar"><input type="time" [(ngModel)]="row.horaInicio"
                        [ngModelOptions]="{standalone: true}" class="form-control" /></td>
                    <td class="nombre-label-consultar"><input type="time" [(ngModel)]="row.horaFin"
                        [ngModelOptions]="{standalone: true}" class="form-control" /></td>
                    <td><button (click)="removeRow(i)" class="btn btn-danger">X</button></td>
                </tr>
            </tbody>
        </table>
        <button (click)="addRow()" class="btn btn-primary">Agregar Fila</button>
        <h1 class="titulo">Imágener</h1>
        <button type="button" class="btn btn-blue-pastel btn-wide">Añadir imágen</button>
        <h1 class="titulo">Eventos</h1>
        <button type="button" class="btn btn-gray-pastel btn-wide">Crear evento</button>
    </form>
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <button  type="button" class="btn btn-primary btn-wide" (click)="crearLugar()">Crear lugar</button>
        </div>
    </div>
    <app-modal-informacion [title]="modalTitle" [content]="modalContent"></app-modal-informacion>
</div>