.titulo {
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.nombre-label-consultar {
    font-family: 'Architects Daughter', cursive;
    font-size: 17px;
}

.btn-wide {
    margin-top: 20px;
    padding: 10px 60px;
}